# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
ios/
android/

# Metro
.metro-health-check*

# Env / secrets
.env
.env.local
.env.*.local

# Misc
.DS_Store
*.log
npm-debug.*
yarn-error.*
coverage/

# Supabase local
supabase/.branches
supabase/.temp
